/* 初期設定 */
body{
    background-color: #f50b0b;
}

li{
    list-style-type: none;
}

a{
    color: #fff;
    text-decoration: none;
}

h1{
    font-family: serif;
    font-size: 40px;
}

h2{
    font-family: serif;
    font-size: 30px;
}

/* 全体設定 */
.wrapper{
    width: 1024px;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
    overflow: auto;
}


/* 更新履歴 */
.updateHistory{
    margin-top: 70px;
}

.historyBox{
    width: 99%;
    height: 100px;
    display: inline-block;
    border: solid 2px #000;
}


/* メインコンテンツ */
.contents{
    margin-top: 70px;
}

/* 音楽コンテンツ */
.sound{
    padding:10px 10px 40px 10px;
    margin-bottom: 50px;
    border-bottom: solid 2px #000;

}

.sound .leftBox{
    width: 50%;
    float: left;
}

.sound .rightBox{
    width: 50%;
    float: left;
}

.sound .title{
    font-size: 20px;
    font-weight: bold;
}

.sound .genre{
    font-size: 14px;
}

.sound audio{
    width: 100%;
}

.sound .download{

}

.sound a{
    float:left;
    display:block;
    width: 33%;
    border-right: solid 1px #fff;
    background-color: #555;
}

.sound .message{
    clear: both;
    text-align: center;
    margin-top: 70px;
}

/* 自己紹介 */
/* 各ボックスの高さと下のmarginは比例する */
.profiles{
    margin-top: 100px;
}

.profiles .ImageBox{
    width: 30%;
    float: left;
}

.profiles .TextBox{
    text-align: left;
    padding-left:80px;
    width: 40%;
    float: left;
}

.profiles .profileBox{
    margin: 0;
    overflow: hidden;
    position: absolute;
    right:0;
    left: 0;
    width: 110%;
    height: 200px;
    padding: 20px 0;
}

.profiles .black{
    background-color: #3b3b3b;
    color: #fff;
}

.profiles .white{
    background-color: #fff;
    color: #000;
}

/* ボックス高さ調整(padding含む) */
.profiles .no1{ margin-top: 0px;   }
.profiles .no2{ margin-top: 240px; }
.profiles .no3{ margin-top: 480px; }
.profiles .no4{ margin-top: 720px; }


/*
.profile{
margin-top: 50px;
width: 100%;
height:410px;
font-size:24px;
}

.profile .leftBox{
width: 50%;
float: left;
text-align: right;
}

.profile .rightBox{
width: 50%;
float: left;
text-align: left;
}*/

footer{
    position: absolute;
    right: 0;
    margin-top: 1000px;
    width: 110%;
    height:100px;
    background-color: #606060;
    color: #fff;
}