.uploader{
    margin-top: 100px;
}

form{
    margin-top: 20px;
}

.item{
    margin-top: 20px;
}


/* form各項目 */

input{
    width: 100%;
}

.message textarea{
    width: 100%;
    height: 100px;
}

.submit{
    margin-top: 50px;
}

/* アップロード成功時テキスト */
.success{
    font-size: 20px;
    margin: 25px 0;
}

.file{
    margin-top: 15px;
}