/* ボディ */
body{
    /* 背景画像は著作権を考えないと捕まっちゃうよ!! */
    /*background-image: url(../img/back.jpg);
    background-attachment: fixed;
    background-position: center;*/
}

/* ページタイトル */
.page_title{
    margin-top: 100px;
    font-size: 21px;
}

/* 更新履歴 */
.update_history{
    margin-top: 100px;
}

.history_box{
    height: 100px;
    border: solid 2px #000;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px 0;
}

.history_box p{
    /* text-indent: 30px; */
    margin: 0 30px;
    font-size: 20px;
    line-height: 25px;
}

/* メインコンテンツ */
.main_contents{
    margin-top: 100px;
}

.sound{
    margin-top: 100px;
    padding-bottom: 50px;
    border-top: solid 2px #bebebe;
    border-bottom: solid 2px #bebebe;
    background-color: #efefef;
    border-radius: 10px;
    padding: 30px 10px;
}

.sound .title{
    font-size:26px;
}

.sound .jenre{
    font-size:20px;
}

.sound .view_count{
    margin: 0;
    margin-top: -20px;
    white-space:    nowrap;
}

.sound .view_count .count{
    font-size: 34px;
    margin: 0;
}

.sound .play audio{
    width: 100%;
}

.sound .message{
    margin-top: 15px;
    font-size:23px;
}

.sound .comment{
    margin-top: 50px;
}

.sound .comment .comment_form{
    width: 100%;
    height: 60px;
}

.sound .comment .comment_submit{
    margin-top: 8px;
    height: 50px;
}

.sound .comment_list{
    margin-top: 30px;
}

.sound .comment_list .message p{
    padding: 5px 0;
    font-size: 22px;
    border-bottom: 1px solid #e5e5e5;
}

/* 自己紹介 */
.profiles{
    margin-top: 150px;
    font-size:23px;
}

.profiles h2{
    margin-bottom: 30px;
}

.profiles ul{
    margin-top: 40px;
}

.profiles .no1,.no3{
    background-color: #313131;
    color: #fff;
    padding: 100px 0;
}

.profiles .no2,.no4{
    padding: 100px 0;
}

/* フッター */
footer{
    font-size:28px;
    color:#fff;
    background-color: #313131;

}

.dropdown-menu.right {
 right:0;
 left:auto;
 &::before {left:auto !important; right:9px;}
 &::after {left:auto !important; right:10px;}
}
